@import url("https://use.typekit.net/xsc3qhp.css");

// Light
@font-face {
	font-family: 'Avenir';
	src: url('fonts/AvenirLTW01-35Light.woff2') format('woff2'),
		url('fonts/AvenirLTW01-35Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}

// Light italic
@font-face {
	font-family: 'Avenir';
	src: url('fonts/AvenirLTW01-35LightOblique.woff2') format('woff2'),
		url('fonts/AvenirLTW01-35LightOblique.woff') format('woff');
	font-weight: 300;
	font-style: italic;
}

// Book
@font-face {
	font-family: 'Avenir';
	src: url('fonts/AvenirLTW02-45Book.woff2') format('woff2'),
		url('fonts/AvenirLTW02-45Book.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

// Book italic
@font-face {
	font-family: 'Avenir';
	src: url('fonts/AvenirLTW01-45BookOblique.woff2') format('woff2'),
		url('fonts/AvenirLTW01-45BookOblique.woff') format('woff');
	font-weight: normal;
	font-style: italic;
}

// Medium
@font-face {
	font-family: 'Avenir';
	src: url('fonts/AvenirLTW02-65Medium.woff2') format('woff2'),
		url('fonts/AvenirLTW02-65Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}

// Medium Italic
@font-face {
	font-family: 'Avenir';
	src: url('fonts/AvenirLTW01-65MediumOblique.woff2') format('woff2'),
		url('fonts/AvenirLTW01-65MediumOblique.woff') format('woff');
	font-weight: 500;
	font-style: italic;
}

// Heavy
@font-face {
	font-family: 'Avenir';
	src: url('fonts/AvenirLTW02-85Heavy.woff2') format('woff2'),
		url('fonts/AvenirLTW02-85Heavy.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}

// Heavy Italic
@font-face {
	font-family: 'Avenir';
	src: url('fonts/AvenirLTW01-85HeavyOblique.woff2') format('woff2'),
		url('fonts/AvenirLTW01-85HeavyOblique.woff') format('woff');
	font-weight: 700;
	font-style: italic;
}
