.container {
    @apply px-6;

    @screen lg {
        @apply px-4;
    }
}

.container--wide {
    max-width: 1300px;
}

%grid {
    display: grid;
    grid-gap: 2rem;
}

.grid-2 {
    @extend %grid;

    @screen lg {
        grid-template-columns: repeat(2, 1fr);
    }
}

.grid-3 {
    @extend %grid;

    @screen lg {
        grid-template-columns: repeat(3, 1fr);
    }
}

.grid-4 {
    @extend %grid;

    @screen lg {
        grid-template-columns: repeat(4, 1fr);
    }
}

.grid-5 {
    @extend %grid;

    @screen lg {
        grid-template-columns: repeat(5, 1fr);
    }
}

.grid-gallery {
    @extend %grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(3, 1fr);

    @screen lg {
        grid-template-columns: repeat(5, 1fr);
    }
}

.grid-sidebar {
    @extend %grid;

    @screen lg {
        grid-template-columns: 7fr 3fr;
    }
}
