.activity-box__wrap {
	@apply hidden;
}

.activity-box__modal {
	@apply fixed;
	@apply inset-0;
	@apply z-40;

	background: rgba(#fff, 0.9);

	@apply flex;
	@apply items-center;
	@apply justify-center;
}

.activity-box__box {
	@apply bg-red;
	@apply px-8;
	@apply py-10;
	@apply pb-8;
	@apply rounded;
	width: 425px;

	form {
		label {
			display: none !important;
		}
		input[type=text], input[type=email] {
			width: 100% !important;
		}
		input[type=submit] {
			@apply bg-red_dark;
			margin: 1.5rem 0 0 0 !important;
		}
	}
}
