.dropdown {
	background: white;
	border-radius: 5px;
	margin: 0 0 0 -20px;
	display: none;
	padding: 0;
	position: absolute;
	@apply z-20;

	li {
		display: block;
		@apply text-sm;
		line-height: 2;
		padding: 0;
		margin: 0;

		a {
			@apply font-medium;
			padding: 0 30px 0 20px;

			&:hover {
				@apply text-blue;
			}
		}

		&:first-child {
			margin-top: 15px;
		}

		&:last-child {
			margin-bottom: 15px;
		}
	}
}
