.slidedown {
	display: none;
	@apply mb-0;
	li {
		a {
			@apply block;
			@apply p-4;
			@apply bg-shade;
			@apply leading-none;
			@apply text-sm;
		}

		&:nth-child(even) a {
			@apply bg-white;
		}
	}
}
