.activity-carousel {
	@apply overflow-x-scroll;

	&::-webkit-scrollbar {
	    height: 8px;
	}

	&::-webkit-scrollbar-track {
		background: rgba(0, 0, 0, 0.25);
		@apply rounded-full;
	}

	&::-webkit-scrollbar-thumb {
		@apply bg-red;
		@apply rounded-full;
	}
}

.activity-carousel__wrap {
	@extend %grid;
    grid-template-columns: repeat(6, 300px);
}

.activity-carousel__card:first-child {
	padding-left: 30px;
}

.activity-carousel__card:last-child {
	padding-right: 30px;
}
