%button {
	@apply font-semibold;
	@apply inline-block;
	@apply leading-none;
	@apply px-6;
	@apply py-3;
	@apply rounded-full;
	@apply text-xs;
	@apply uppercase;


	transition: background-color 0.15s ease-out;
}

.button {
	color: white !important;
	@extend %button;
}

.button--border {
	@extend %button;
}

.button--small {
	@extend %button;
	@apply px-3;
	@apply py-2;
}
