form {

	.alert {
		@apply bg-red;
		@apply text-white;
		@apply rounded;
		@apply p-6;
	}

	.gf_progressbar_wrapper {

		margin: 0 !important;

		.gf_progressbar_title {
			display: none;
		}

		.gf_progressbar {
			@apply bg-gray-300;
			box-shadow: none !important;
			height: 16px !important;
			padding: 0 !important;
			@apply mb-6;

			&:after {
				display: none;
			}
		}

		.gf_progressbar_percentage {
			background: theme('colors.red');
			height: 16px !important;

			span {
				display: none;
			}
		}
	}

	.gform_page_footer {
		border-top: 1px solid theme('colors.gray.300') !important;
		margin: 3rem 0 !important;
		padding: 0 !important;

		.gform_next_button {
			cursor: pointer;
			margin-top: 3rem !important;
		}

		.gform_previous_button {
			opacity: 0.5 !important;
			cursor: pointer;
			margin-top: 3rem !important;

			@media only screen and (max-width: 1100px) {
				display: none !important;
			}
		}
	}

	.gform_footer {
		margin: 0 !important;
		padding: 0 !important;
	}

	// Fields

	.gfield {
		margin-bottom: 1.5rem !important;
	}

	.ginput_container {
		margin: 0 !important;
	}

	.ginput_container_address {
		input {
			margin-bottom: 4px !important;
		}
	}

	.gfield_radio {
		li {
			display: flex !important;
			align-items: center !important;
			line-height: 1 !important;

			input {
				margin: 0 4px 0 1px !important;
			}
		}
	}

	.gfield_label {
		@apply font-medium;
		@apply text-blue;
		font-size: 19px !important;
		margin-bottom: 12px !important;

		@screen lg {
			font-size: 17px !important;
		}
	}

	input[type=text], input[type=email] {
		@apply font-medium;
		@apply text-blue;
		@apply rounded;
		border: 1px solid theme('colors.gray.400') !important;
		line-height: 1 !important;
		padding: 10px 12px !important;
	}

	input[type=submit], input[type=button] {
		@extend %button;
		@apply bg-red;
		font-size: 13px !important;
	}

	select {
		display: block;
	    line-height: 1;
		@apply text-base;
		padding: 10px 12px !important;
	    width: 100%;
	    max-width: 100%;
	    box-sizing: border-box;
	    margin: 0;
	    border: 1px solid theme('colors.gray.400');
		@apply rounded;
	    // appearance: none;
		@apply bg-white;
	}

	textarea {
		@apply bg-white;
		@apply rounded;
		border: 1px solid theme('colors.gray.400') !important;
		padding: 10px 12px !important;
	}
}

// Confirmation
.gform_confirmation_message {
	@apply bg-green;
	@apply text-white;
	@apply rounded;
	@apply p-6;

	p {
		margin-bottom: 0 !important;
	}
}

// Google Translate select
// .goog-te-gadget .goog-te-combo {
// 	margin: 0 !important;
// }
//
// .goog-te-combo {
// 	@apply bg-white;
// 	@apply font-semibold;
// 	@apply text-xs;
// 	appearance: none;
// 	border-radius: 0;
// 	box-sizing: border-box;
// 	border: none;
// 	display: block;
// 	line-height: 1.2;
// 	margin: 0;
// 	padding: 5px 8px !important;
// }
