.hero {
	@apply bg-center;
	@apply bg-cover;
	@apply relative;

	height: 150px;

	@screen lg {
		height: 270px;
		background-size: 75%;
		background-position: right;
    }
}

.hero__blue {
	@apply absolute;
	@apply top-0;

	@apply bg-blue;
	@apply w-full;
	z-index: 2;

	height: 130px;

	@screen lg {
		border-bottom-right-radius: 25px;
		height: 230px;
		width: 50%;
    }
}

.hero__red {
	@apply absolute;
	@apply bottom-0;

	@apply bg-red;
	@apply text-white;
	@apply w-full;
	z-index: 1;

	height: 25px;

	@screen lg {
		height: 45px;
		width: 46%;
    }
}

.hero__content {
	@apply absolute;
	@apply w-full;
	z-index: 3;

	@apply flex;
	@apply items-center;

	@apply text-white;

	height: 130px;

	@screen lg {
		height: 230px;
    }

}

.home {
	.hero {
		height: 270px;
		@screen lg {
			height: 400px;
	    }
	}
	.hero__blue {
		height: 230px;
		@screen lg {
			height: 360px;
	    }
	}
	.hero__red {
		height: 45px;
	}
	.hero__content {
		height: 230px;
		@screen lg {
			height: 360px;
	    }
	}
}
